In [48]:
import pandas as pd

data = pd.read_csv("titanic.csv")

#count = {}
#for x in data['Age'].tolist():
#    try:
#        count[x] += 1
#    except:
#        count.update({x:1})
#print(count)

data.at[5, 'Age'] = 28

count = 0
for x in data['Age'].tolist():
    try:
        if int(x) > 18:
            count += 1
    except:
        continue
print(str(count) + " over 18")

ammount = data.count()['PassengerId']
count = 0
for x in data['Sex'].tolist():
    if x == "male":
        count += 1
print(str(int((count/ammount)*100)) + "% Male")

576 over 18
64% Male

In [62]:
import pandas as pd

data = pd.read_csv("titanic.csv")
ammount = data.count()['PassengerId']

columns = ['class', 'freq%']
count = pd.DataFrame([(1,0), (2,0), (3,0)], columns=columns)
for x in data['Pclass'].tolist():
    try:
        #count['freq'][x-1] += 1
        #count.loc[x-1]["freq"] += 1
        count.at[x-1, 'freq%'] += 1
    except:
        continue

for x in range(3):
    count.at[x, 'freq%'] = int((count['freq%'][x]/ammount)*100)
display(count)

   class  freq%
0      1     24
1      2     20
2      3     55